{% extends 'learner/base.html'%}
{% load static %}
{%block title%}Log in{%endblock title%}

{%block main-content%}

<div>


</div>



<div class="container my-5 text-align-centre" >
    <div class="row my-3 " >
        <div class="col-sm-6 offset-sm-3">
            <hr>
            <h6 class="text-center">"Ensure you are login with your username to be able to access your school" </h6>
             <hr>
            {% if request.user.is_authenticated %} 

            <form action = "" method = "post" class=" row g-3" >
                {% csrf_token %}
                <div class="col-auto">
                <label for="my_passcode" class="visually-hidden"> </label>
                <input id="my_passcode" type="text" name="my_passcode" placeholder=" Your Code Here" class="form-control">
                </div>
                 <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Submit code</button>
                </div>
            </form>
            
                
        </div>
    </div>
  
   


{% for item in schools %}
    

 <div class="row my-3 text-decoration-none">
 <h2>Welcome </h2>
 
 <h3>{{item.school_name.capitalize}}</h3>
<hr>

<div>


<a href="{% url 'profile' item.school_code %}" class="btn btn-light btn-sm"><strong> Continue</strong></a>

<a href="{% url 'myprofile' item.school_code %}" class="btn btn-light btn-sm">Create profile</a>

</div>
 



</div>
   <hr> 
   
 {% endfor%}
{% else %}
<h4><a href ={% url 'login' %}> Log in to continue</h4>
{% endif %}



<div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>

      <div>
       <hr>
            <h5 class="text-center"><strong>  Welcome to Fluidhub website.  </strong></h5>
            <h6 class="text-center"> This is a school management system that enable you to keep track of your learners and activities in your school. It provide easy access on mobile platform. 
                You can get to us through our contacts. 
            </h6>
            <hr>
      </div>

</div>

{%endblock main-content%}








